
section{
    perspective: 400px;
    perspective-origin: 50% 60%;
}
.block_imgs{
    transform-style: preserve-3d;
    display: grid;
    gap: 20px;

}
.block_imgs img{
    width: 200px;
    height: 100px;
    background-color: rgba(0, 0, 255, 0.233);
      
    transform: rotateY(45deg) rotateX(20deg);
}