
section{
    perspective: 400px;
    perspective-origin: 50% 60%;
}
.block_imgs{
    transform-style: preserve-3d;
    position: relative;
    top: 200px;
    left: 50px;
}
.block_imgs img{
    object-fit: cover;
    width: 200px;
    height: 100px;
    position: absolute;
    background-color: rgba(0, 0, 255, 0.233);
    transition: transform 1s linear;
   /* transform: rotateY(45deg) rotateX(20deg);
*/
}
.block_imgs img:nth-child(1){
    transform: translateX(200px) translateY(0) translateZ(100px) rotateY(0deg) rotateX(0deg);
}
.block_imgs img:nth-child(2){
    transform: translateX(360px) translateY(0) translateZ(0px) rotateY(60deg) rotateX(0deg);
}
.block_imgs img:nth-child(3){
    transform: translateX(360px) translateY(0px) translateZ(-190px)  rotateY(120deg) rotateX(0deg);
}
.block_imgs img:nth-child(4){
    transform: translateX(180px) translateY(0px) translateZ(-280px)  rotateY(180deg) rotateX(0deg);
}
.block_imgs img:nth-child(5){
    transform:  translateX(10px) translateY(0px) translateZ(-190px)  rotateY(240deg) rotateX(0deg);
}
.block_imgs img:nth-child(6){
    transform:  translateX(20px) translateY(0px) translateZ(0px)  rotateY(300deg) rotateX(0deg);
}
/*
.block_imgs img:nth-child(1){
    transform: translateX(200px) translateZ(100px) rotateY(0deg) rotateX(0deg);

}
.block_imgs img:nth-child(2){
    transform: translateX(400px) translateZ(60px) rotateY(20deg);

}
.block_imgs img:nth-child(3){
    transform: translateX(450px) translateY(-60px)  translateZ(0px) rotateY(95deg);

}
.block_imgs img:nth-child(4){
    transform: translateX(300px) translateY(-70px) translateZ(-80px) rotateY(180deg) ;

}
.block_imgs img:nth-child(5){
    transform: translateX(80px) translateY(-50px) translateZ(-45px) rotateY(220deg) rotateX(0deg);;

}
.block_imgs img:nth-child(6){
    transform: translateX(10px) translateY(0px) translateZ(25px) rotateY(-40deg) rotateX(0deg);;

}

@keyframes img6{
    0%{
        transform: translateX(10px) translateY(0px) translateZ(25px) rotateY(320deg) rotateX(0deg);
    }
    16.7%{
       transform: translateX(200px) translateZ(100px) rotateY(0deg) rotateX(0deg);  
    }
    33.3%{
          transform: translateX(400px) translateZ(60px) rotateY(20deg);
    }
    50%{
        transform: translateX(450px) translateY(-60px)  translateZ(0px) rotateY(95deg);
    }
    66.7%{
        transform: translateX(300px) translateY(-70px) translateZ(-80px) rotateY(180deg) ; 
         
    }
    83.3%{
         transform: translateX(80px) translateY(-50px) translateZ(-45px) rotateY(220deg) rotateX(0deg);;
    }
    100%{
        transform: translateX(10px) translateY(0px) translateZ(25px) rotateY(320deg) rotateX(0deg);
    }
}
@keyframes img5{
    0%{
         transform: translateX(80px) translateY(-50px) translateZ(-45px) rotateY(220deg) rotateX(0deg);;
    }
   16.7%{
        transform: translateX(10px) translateY(0px) translateZ(25px) rotateY(320deg) rotateX(0deg);
    }
    33.3%{
         transform: translateX(200px) translateZ(100px) rotateY(0deg) rotateX(0deg);  
    }
      50%{
        transform: translateX(400px) translateZ(60px) rotateY(20deg);
    }
     66.7%{
         transform: translateX(450px) translateY(-60px)  translateZ(0px) rotateY(95deg);
         
    }
    83.3%{
         transform: translateX(300px) translateY(-70px) translateZ(-80px) rotateY(180deg) ;
    }
    100%{
         transform: translateX(80px) translateY(-50px) translateZ(-45px) rotateY(220deg) rotateX(0deg);;
    }
}
@keyframes img4{
    0%{
        transform: translateX(300px) translateY(-70px) translateZ(-80px) rotateY(180deg) ;
    }
      16.7%{
        transform: translateX(80px) translateY(-50px) translateZ(-45px) rotateY(220deg) rotateX(0deg);;
    }
    33.3%{
                transform: translateX(10px) translateY(0px) translateZ(25px) rotateY(320deg) rotateX(0deg);
    
    }
    50%{
       transform: translateX(200px) translateZ(100px) rotateY(0deg) rotateX(0deg);
    }
     66.7%{
         transform: translateX(400px) translateZ(60px) rotateY(20deg);
         
    }
   83.3%{
       transform: translateX(450px) translateY(-60px)  translateZ(0px) rotateY(95deg);
    }
    100%{
           transform: translateX(300px) translateY(-70px) translateZ(-80px) rotateY(180deg) ;
    }
}
@keyframes img3{
    0%{
        transform: translateX(450px) translateY(-60px)  translateZ(0px) rotateY(95deg);
    }
     16.7%{
         transform: translateX(300px) translateY(-70px) translateZ(-80px) rotateY(180deg) ;
    }
  33.3%{
        transform: translateX(80px) translateY(-50px) translateZ(-45px) rotateY(220deg) rotateX(0deg);;
    
    }
    50%{
        transform: translateX(10px) translateY(0px) translateZ(25px) rotateY(320deg) rotateX(0deg);
    }
    66.7%{
       transform: translateX(200px) translateZ(100px) rotateY(0deg) rotateX(0deg);
         
    }
    83.3%{
        transform: translateX(400px) translateZ(60px) rotateY(20deg);
    }
    100%{
         transform: translateX(450px) translateY(-60px)  translateZ(0px) rotateY(95deg);
    }
}

@keyframes img1{
    0%{
        transform: translateX(200px) translateZ(100px) rotateY(0deg) rotateX(0deg);
    }
     16.7%{
        transform: translateX(400px) translateZ(60px) rotateY(20deg);
    }
   33.3%{
        transform: translateX(450px) translateY(-60px)  translateZ(0px) rotateY(95deg);
    }
    50%{
         transform: translateX(300px) translateY(-70px) translateZ(-80px) rotateY(180deg) ;
    }
      66.7%{
         transform: translateX(80px) translateY(-50px) translateZ(-45px) rotateY(220deg) rotateX(0deg);;
    }
    83.3%{
         transform: translateX(10px) translateY(0px) translateZ(25px) rotateY(320deg) rotateX(0deg);
    }
    100%{
        transform: translateX(200px) translateZ(100px) rotateY(0deg) rotateX(0deg);
    }
}
@keyframes img2{
    0%{
        transform: translateX(400px) translateZ(60px) rotateY(20deg);
    }
      16.7%{
         transform: translateX(450px) translateY(-60px)  translateZ(0px) rotateY(95deg);
    }
 33.3%{
        transform: translateX(300px) translateY(-70px) translateZ(-80px) rotateY(180deg) ;
    }
    50%{
          transform: translateX(80px) translateY(-50px) translateZ(-45px) rotateY(220deg) rotateX(0deg);;
    }
   66.7%{
        transform: translateX(10px) translateY(0px) translateZ(25px) rotateY(320deg) rotateX(0deg);;
         
    }
   83.3%{
        transform: translateX(200px) translateZ(100px) rotateY(0deg) rotateX(0deg);
    }
    100%{
        transform: translateX(400px) translateZ(60px) rotateY(20deg);
    }
}
*/
