 <header>  
   <img src="images/l2.png" alt="" class="logo">
    <div class="block_profile">
        <p class="user_name">Name</p>
        <img src="" alt="">
        
        <div class="block_changePassword hidden">
            <div class="text_changePassword">
                <h1>Изменение пароля</h1>
                <form action="">
                    <label for="">
                        <p>Старый пароль</p>
                         <input id="oldPass" type="text" placeholder="Введите старый пароль">
                    </label>
                     <label for="">
                        <p>Новый пароль</p>
                         <input id="newPass_1" type="text" placeholder="Введите новый пароль">
                    </label>
                    <label for="">
                        <input id="newPass_2" type="text" placeholder="Повторите новый пароль">
                    </label>
                  
                    <button class="btn_changePass">Изменить</button>
                    <div class="message_changePassword"></div>
                </form>
            </div>
        </div>
        <div class="userProfile">
            <div class="block_changeProfile hidden">
                <div class="text_changeProfile">
                    <h1>Новые данные</h1>
                    <label for="">
                        <p>Фото</p>
                        <input type="text" name="" id="photo_changeProfile">
                    </label>

                    <label for="">
                        <p>Имя</p>
                        <input type="text" value="name" id="name_changeProfile">
                    </label>

                    <label for="">
                        <p>Фамилия</p>
                        <input type="text" value="fami" id="fam_changeProfile">
                    </label>

                    <label for="">
                        <p>Отчество</p>
                        <input type="text" value="otch" id="otch_changeProfile">
                    </label>

                    <label for="">
                        <p>Email</p>
                        <input type="email" value="email" id="email_changeProfile">
                    </label>
                    <br>
                 
                    <button class="btn_toChangePass">Изменить пароль</button>
                   
                  
                   
                </div>
                

                <div class="btn_block">
                    <button class="btn btn_change_data">Изменить</button>
                    <button class="btn_delete">Удалить профиль</button>
                </div>
                <div class="message_block_profile"></div>
            </div><!--Block change profile-->

            <div class="info_userProfile hidden">
                <div class="text_userProfile">
                    <p>Имя: <span class="name_userProfile"></span></p>
                    <p>Фамилия: <span class="fam_userProfile"></span></p>
                    <p>Отчество: <span class="otch_userProfile"></span></p>
                    <p>Email: <span class="email_userProfile"></span></p>
                </div>
                <div class="buttons_userProfile">
                    <button class="btn_toChangeProfile">Изменить профиль</button>
                    <button class="btn_logout">Выйти</button>
                </div>
            </div>
        </div><!--userProfile-->
    </div><!---->
    
  
</header>

<div class="block_companion_profile">
    <div class="page_profile hidden">
        <img src="images/user_photo.jpeg" alt="">
        <p>Name: <span class="name"></span></p>
        <p>Last Name: <span class="fam"></span></p>
        <p>Last Name: <span class="otch"></span></p>
        <p>Email: <span class="email"></span></p>
        <button class="back_profile">Назад</button>
    </div>
</div>
    <section class="section ">
        <div class="block_chats ">
           
         
            <div class="list_chats">
                 
                    
            </div>

            <div class="block_createChat">
                <div class="margin_block_createChat">
                    
                        <p>Создать чат с :</p>
                        <div class="form_createChat">
                            <input type="text">
                            <button class="btn btn_create_chat">Создать</button>
                        </div>
                </div>
                <div class="answer_text"></div> 
            </div>

            <div>
                
                <div class="change_chatName hidden">
                    <p>Изменить имя чата</p>
                    <div class="block_change_chatName">
                        <input type="text">
                        <button >Изменить</button>
                    </div>
                    
                </div>
                
            </div>
           
        </div>
        <div class="block_messages">
            <div class="margin_block_messages">
                
                <div class="content_messages">
                  
                </div>
                <div class="send_message">
                    <input type="text">
                    <button>➤</button>
                </div>
            </div>
            
        </div>
    </section>