<div class="content_auth">
    <div class="block_auth">
        <h1>Авторизация</h1>
        <label for="">
            <p>Email</p>
            <input class="email_auth" type="email" value="yan@mail.com" placeholder="Введите email">
        </label>
        <label for="">
            <p>Пароль</p>
            <input class="pass" type="text" value="yan1" placeholder="Введите пароль">
        </label>
        <div class="buttons_auth">
            <button class="btn btn_auth">Войти</button>
            <button class="btn btn_reg">Регистрация</button>
        </div>
        <div class="block_error"></div>
    </div>
</div>