<div class="content_auth_and_reg">
    <div class="block_auth_and_reg">
        <div class="buttons_auth_and_reg">
            <button class="tumb_auth">Авторизация</button>
            <button class="tumb_reg">Регистрация</button>
        </div>
        <div class="form_auth">
            <form action="">
                <label for="">
                    <p>Email</p>
                    <input class="email_auth" type="email" value="yan@mail.com" placeholder="Введите email">
                </label>
                <label for="">
                    <p>Пароль</p>
                    <input class="pass_auth" type="text" value="yan1" placeholder="Введите пароль">
                </label>
            </form>
                
        </div>

        <div class="form_reg">
            <form action="">
                <label for="">
                    <p>Имя</p>
                    <input type="text" placeholder="Введите имя" id="name_reg" value="Yan">
                </label>
                <label for="">
                    <p>Фамилия</p>
                    <input type="text" placeholder="Введите фамилию" id="fam_reg" value="Yanovich">
                </label>
                <label for="">
                    <p>Отчество</p>
                    <input type="text" placeholder="Введите отчество" id="otch_reg" value="Y">
                </label>
                <label for="">
                    <p>Email</p>
                    <input type="email" placeholder="Введите email" id="email_reg" value="y@mail.com">
                </label>
                <label for="">
                    <p>Пароль</p>
                    <input type="text" placeholder="Введите пароль" id="pass_reg" value="y">
                </label>
                <div class="block_error"></div>
            </form>
        </div>
        <div class="block_reg_btn">
            <button class="btn_reg">Войти</button>
            <div class="message_error">fsafsdfsadfsafdsa</div>
        </div>
        <div class="block_auth_btn">
            <button class="btn_auth">Войти</button>
            <div class="message_error">fsafsdfsadfsafdsa</div>
        </div>
    </div>
</div>