<header>
    <div class="block_profile ">
        <img src="images/user_photo.jpeg" alt="">
    
        <div class="userProfile ">
            <div class="info_userProfile hidden">
                <div class="text_userProfile">
                    <p>Имя: <span class="name_userProfile"></span></p>
                    <p>Фамилия: <span class="fam_userProfile"></span></p>
                    <p>Отчество: <span class="otch_userProfile"></span></p>
                    <p>Email: <span class="email_userProfile"></span></p>
                </div>
                <div class="buttons_userProfile">
                    <button class="btn_toChangeProfile">Изменить профиль</button>
                    <button class="btn_logout">Выйти</button>
                </div>
            </div>
            <div class="block_changeProfile hidden">
                <div class="text_changeProfile">
                    <h1>Новые данные</h1>
                    <label for="">
                        <p>Фото</p>
                        <input type="file" name="" id="photo_changeProfile">
                    </label>

                    <label for="">
                        <p>Имя</p>
                        <input type="text" value="name" id="name_changeProfile">
                    </label>

                    <label for="">
                        <p>Фамилия</p>
                        <input type="text" value="fami" id="fam_changeProfile">
                    </label>

                    <label for="">
                        <p>Отчество</p>
                        <input type="text" value="otch" id="otch_changeProfile">
                    </label>

                    <label for="">
                        <p>Email</p>
                        <input type="email" value="email" id="email_changeProfile">
                    </label>

                    <label for="">
                        <p>Пароль</p>
                        <input type="text" value="pass" id="pass_changeProfile">
                    </label>
                </div>
                

                <div class="btn_block">
                    <button class="btn btn_change_data">Изменить</button>
                    <button class="btn_delete">Удалить профиль</button>
                </div>
                <div class="message_block"></div>
            </div><!--Block change profile-->
        </div><!--userProfile-->
    </div><!---->
    
    <div class="block_createChat">
        <div class="margin_block_createChat">
            <div>
                <p>Создать чат с :</p>
                <div class="form_createChat">
                    <input type="text">
                    <button class="btn btn_create_chat">Создать</button>
                </div>
            </div>
            <div class="answer_text">Text answer</div> 
        </div>
    </div>
</header>

<div class="block_companion_profile ">
    <div class="page_profile hidden">
        <img src="images/user_photo.jpeg" alt="">
        <p>Name: <span class="name"></span></p>
        <p>Last Name: <span class="fam"></span></p>
        <p>Last Name: <span class="otch"></span></p>
        <p>Email: <span class="email"></span></p>
        <button class="back_profile">Назад</button>
    </div>
</div>
    
<section class="section">
    <div class="block_chats">
        <div class="change_chatName">
             <input type="text">
             <button >Изменить</button>
        </div>
       
        <div class="list_chats">

                
        </div>
    </div>
    <div class="block_messages">
        <div class="margin_block_messages">
            
            <div class="content_messages">
                
            </div>
            <div class="send_message">
                <input type="text">
                <button>-></button>
            </div>
        </div>
        
    </div>
</section>
