::-webkit-scrollbar{
    width: 10px;
    background-color: rgba(6, 80, 165, 0.178);
}
::-webkit-scrollbar-thumb{
    border-radius: 10px;
    -webkit-box-shadow: 5px 5px 5px -5px rgba(34,60,80,0.2) inset;
    background:linear-gradient(180deg, #7ee4bb7e, #7acce0);
}
.brightness{
    filter: brightness(0.7);
}
/*
.section{
    filter: brightness(0.4);
}
*/

.hidden{
    display: none;
}
/*//////////////AUTH*/
.content_auth_and_reg{
    background-color: #1F1F1F;
    color: #fff;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.block_auth_and_reg{
    border-top-left-radius: 2dvh;
   /* border-top-right-radius: 2dvh;*/
    display: grid;
    grid-template-rows: 30px 380px 80px;
   
    background-color: rgb(60, 148, 207);
     background-color: #3ACC91;
      background-color:  #43B597;
    & input{
        width: 320px;
        height: 30px;
    }
    & h1{
        text-align: center;
    }
     & p{
        padding-top: 15px;
        
    }
}

/*кнопка регистрации*/
.form_reg{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 30px;
    display: none;
}
.block_reg_btn{
  
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: none;
}
.btn_reg{
    border: none;
    padding: 10px 15px;
    font-weight: 600;
    color: #fff;

    background-color:  #43B597;
    border-radius: 1dvh;
    transition: .3s linear;
}
.btn_reg:hover{
    color: #333;
}

/*кнопка авторизации*/
.form_auth{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 30px;

}
.block_auth_btn{
  
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;


}
.btn_auth{
    border: none;
    padding: 10px 15px;
    font-weight: 600;
    color: #fff;
    background-color:  rgb(60, 148, 207);
    border-radius: 1dvh;
    transition: .3s linear;
}
.btn_auth:hover{
    color: #333;
}




.message_error{
    height: 50px;
    padding: 20px;
}
.buttons_auth_and_reg{
    display: flex;

    & button{
  
        font-weight: 700;
        width: 100%;
        border: none;
        background-color: #3ACC91;
        color: #fff;
        
    }
    & .tumb_auth{
        background-color:  #43B597;
        border-top-left-radius: 2dvh;
        cursor: pointer;
    }
    & .tumb_reg{
        cursor: pointer;
       /* border-top-right-radius: 2dvh;*/
        background-color: rgb(60, 148, 207);

    }
 
}



/*/////////////Профиль собеседника*/
.block_companion_profile{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 100;
    color: #fff;
   
}
.page_profile{
   
     padding: 20px 40px;
     background-color: rgb(60, 148, 207);
    & img{
        height: 250px;
        width: 250px;
        object-fit: cover;

    }
    & p{
        padding: 10px;
    }
}

.back_profile{
    margin: 5px 37%;
    border: none;
    padding: 5px 10px;
    background-color: #43B597;
    color: #fff;
    font-weight: 700;
}
.back_profile:hover{
    color: #333;
}




.userProfile{
    position: absolute;
    display: flex;
  
    align-items: flex-start;
    gap: 15%;
    left: -90px;
    top: 15vh;
    width: auto;
    z-index: 10;
  
}
.info_userProfile{
    background-color: #3ACC91;
    color: #333;
    min-width: 250px;
}

.block_changeProfile{
    background-color: rgb(60, 148, 207);
    z-index: 100;
    position: absolute;
    left: -36vw;
    top: -10%;
    padding: 20px 60px;

    & input{
        width: 230px;
    }
    text-align: left;
    & h1{
        text-align: center;
    }
    & p{
        margin-top: 20px;
        padding-bottom: 3px;
    }
}
.text_changeProfile{
    padding: 20px;
}
.btn_block{
    padding-bottom: 5px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    & button{
        padding: 10px 15px;
        background-color: #3ACC91;
        color: #fff;
        border:none;
        transition: .3s linear;
    }
    & .btn_delete{
        color: #fff;
        background-color: #cc503a;
    }
    & button:hover{
        background-color: rgba(41, 187, 48, 0.603);
        
    }
    & .btn_delete:hover{
        color: #cc503a;
      
        background-color: #fff
    }
}   

.text_userProfile{
    padding: 20px ;
    text-align: left;
    & p{
        padding: 10px ;
    }
}
.buttons_userProfile{
    display: flex;
 
    & button{
        border: none;
        color: #fff;
        background-color: rgb(60, 148, 207);
        padding: 5px;
        width: 100%;
        transition: .2s linear;
    }
    & .btn_logout{
        color:#fff;
        font-weight: 600;
        background-color: #cc503a;
    }
    & .btn_logout:hover{
        color: #cc503a;
        font-weight: 600;
        background-color: #fff
    }
    & .btn_toChangeProfile:hover{
        color: rgb(60, 148, 207);
        font-weight: 600;
        background-color: #fff;
    }
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #1F1F1F;
}
header{
    display: flex;
    justify-content: space-between;
    padding-right: 90px;
    padding-left: 60px;
    height: 15vh;
    align-items: center;
    background-color: #252526;
       
}
.logo{
    height: 70px;
    filter: saturate(70%)
}
.section{
    padding: 40px;
    padding-bottom: 0;
    height: 85vh;
    display: grid;
    gap: 20px;
    grid-template-columns: 4fr 4fr;
    background-color: #1F1F1F;

}
/*//////////////////////////ШАПКА*/
.block_profile{
    text-align: center;
    display: flex;
    align-items: center;
    gap: 20px;
    position: relative;
    color: #fff;
    & img{
        height: 80px;
        width: 80px;
        object-fit: cover;
        border-radius: 50%;
    }
}





/*/////////////////////////СОЗДАТЬ ЧАТ*/
.block_createChat{
   
    display: flex;
    align-items: center;
    color: #fff;

}

.margin_block_createChat{
    padding: 20px;
    padding-left: 25px;
    width: 100%;

    background-color:#43B597;
    
    color: #fff;
    & p{
        padding-bottom: 10px;
        font-weight: 600;
    }
}
.form_createChat{
    display: flex;
    gap: 5px;
    align-items: center;
    & input{
        height: 24px;
        border: none;
    }
}
.btn_create_chat{
    border: none;
    background-color: aliceblue;
    font-weight: 700;
    color: #333;
    padding: 5px;
    height: 24px;
    transition: .2s linear;
}
.btn_create_chat:hover{
    color: #43B597;
}




/*///////////////////////БЛОК ЧАТОВ*/
.block_chats {
    height: 480px;
    display: grid;
    grid-template-rows: 8fr;
}
.list_chats{
    
    overflow-y: auto;
    color: #fff;
    background-color: rgb(64, 144, 197);
}
.chat{
    height: 50px;
    border-bottom: 1px solid #ffffff60; 
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    align-items: center;
    transition: .2s linear;
}
.chat:hover{
    background-color:  rgb(60, 133, 182);
    filter: brightness(0.9) ;
}
.chat_active{
    background-color:  rgba(17, 250, 106, 0.589);
     background-color:  #43B597;
    box-shadow: 0px 1px 1px #fff ;
    border: 2px solid;
}
.point{
    margin-right: 17px;
    background-color: #fff;
    border-radius: 50%;
    width: 8px;
    height: 8px;   
    display: none;
}
.change{
    background: url('../images/pen.png') center no-repeat;
        background-size: cover;
    width: 15px;
    height: 15px;
    margin-right: 13px;
}

.chat_newMessage{
    background-color:  rgb(60, 133, 182);
    filter: brightness(0.8) ;
    & .point{
        display: block;
    }
}


/*////////////////////////////////////////СООБЩЕНИЯ*/
.block_messages{
    height: 100%;

    margin: auto 0;
}
.margin_block_messages{
    background-color: rgb(64, 144, 197);
    height: 480px;
    display: grid;
    grid-template-rows: 17fr 1fr;

}
.content_messages{
    color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    gap: 15px;
}
.my_message{
    background-color: rgba(17, 250, 106, 0.589);
    padding: 15px;
    max-width: 40%;
    display: flex;
    height: auto;
    text-wrap: wrap;
    border-radius: 1dvh;
    align-self: flex-end;


}
.message_p{
    width: 40%;
    display: flex;
    text-wrap: wrap;
    height: auto;
}
.chat p{
    max-width: 40%;
}
.companion_message{
    background-color: rgba(17, 196, 250, 0.589);
    padding: 15px;
    max-width: 40%;
    height: auto;
    text-wrap: wrap;

    align-self: flex-start;
    border-radius: 1dvh;
}

.send_message{
    display: flex;
    & input{
        height: 100%;
        width: 90%;
        border: none;
    }
    & button{
        width: 10%;
        border: none;
        background-color: rgb(17, 250, 106);
        background-color: rgba(17, 250, 106, 0.76);
         background-color: #3ACC91;
         color: #fff;
         transition: .3s linear;
        font-weight: 500;
        
    }
    & button:hover{
       
          color: #333;
    }
}
.answer_text{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #43B597;
}

.change_chatName{
    background-color:  aliceblue;
    z-index: 100;
 
    padding: 15px;
    & p{
        color: #333;
        font-weight: 700;
    }
    & .block_change_chatName{
        margin-top: 10px;
        display: flex;
        gap: 5px;
     
        align-items: center;
    }
    & input{
        height: 30px;
        width: 250px;
    
    }

    & button{
        border: none;
        background-color:  #43B597;
        color: #333;
        font-weight: 700;
        height: 30px;
        padding: 0 8px;
        transition: .3s linear;
    }
     & button:hover{
        color: #fff;
    }
    
}
.hidden{
    display: none;
}
.new_message{
    background-color: #cc503a;
}

.visibility{
    visibility: hidden;
}