
        <section class="section">
            <div class="block_chats">
                <div class="list_chats">
                    <div class="chat chat_active">
                        <p>Chat 1</p>
                        <div class="point"></div>
                    </div>
                    <div class="chat chat_newMessage">
                        <p>Chat 1</p>
                        <div class="point"></div>
                    </div>
                    <div class="chat">
                        <p>Chat 1</p>
                        <div class="point"></div>
                    </div>
                    <div class="chat">
                        <p>Chat 1</p>
                    </div>
                    <div class="chat">
                        <p>Chat 1</p>
                    </div>
                    <div class="chat">
                        <p>Chat 1</p>
                    </div>
                    <div class="chat">
                        <p>Chat 1</p>
                    </div>
                    <div class="chat">
                        <p>Chat 1</p>
                    </div>
                    <div class="chat">
                        <p>Chat 1</p>
                    </div>
                    <div class="chat">
                        <p>Chat 1</p>
                    </div>
                    <div class="chat">
                        <p>Chat 1</p>
                    </div>
                    <div class="chat">
                        <p>Chat 1</p>
                    </div>
                    <div class="chat">
                        <p>Chat 1</p>
                    </div>
                    <div class="chat">
                        <p>Chat 1</p>
                    </div>
                    <div class="chat">
                        <p>Chat 1</p>
                    </div>
                    <div class="chat">
                        <p>Chat 1</p>
                    </div>
                       
                </div>
            </div>
            <div class="block_messages">
                <div class="margin_block_messages">
                    <div class="content_messages">
                        <div class="my_message">my_message</div>
                        <div class="companion_message">companion_message</div>

                        <div class="my_message">my_message</div>
                        <div class="companion_message">companion_message</div>
                        <div class="my_message">my_message</div>
                        <div class="companion_message">companion_message</div>
                        <div class="my_message">my_message</div>
                        <div class="companion_message">companion_message</div>
                        <div class="my_message">my_message</div>
                        <div class="companion_message">companion_message</div>
                        <div class="my_message">my_message</div>
                        <div class="companion_message">companion_message</div>

                        <div class="my_message">my_message</div>
                        <div class="companion_message">companion_message</div>
                        <div class="my_message">my_message</div>
                        <div class="companion_message">companion_message</div>
                        <div class="my_message">my_message</div>
                        <div class="companion_message">companion_message</div>
                        <div class="my_message">my_message</div>
                        <div class="companion_message">companion_message</div>
                    </div>
                    <div class="send_message">
                        <input type="text">
                        <button>-></button>
                    </div>
                </div>
                
            </div>
        </section>