<div class="content_reg">
    <div class="block_reg">
        <h1>Регистрация</h1>
        <label for="">
            <p>Имя</p>
            <input type="text" placeholder="Введите имя" id="name_reg" value="Yan">
        </label>
        <label for="">
            <p>Фамилия</p>
            <input type="text" placeholder="Введите фамилию" id="fam_reg" value="Yanovich">
        </label>
        <label for="">
            <p>Отчество</p>
            <input type="text" placeholder="Введите отчество" id="otch_reg" value="Y">
        </label>
        <label for="">
            <p>Email</p>
            <input type="email" placeholder="Введите email" id="email_reg" value="y@mail.com">
        </label>
        <label for="">
            <p>Пароль</p>
            <input type="text" placeholder="Введите пароль" id="pass_reg" value="y">
        </label>
        <div class="block_error"></div>
        <div class="buttons_auth">
            <button class="btn btn_reg">Зарегистрироваться</button>
        </div>
    </div>
</div>