 <div class="link_chats link_chats_1">
        <img src="../images/arrow_left.png" alt="">
        <a>К чатам</a>
</div>
<div class="content_changeProfile">
              
    <div class="abs_info">
        <img src="images/user_photo.jpeg" alt="">
 
        <p>Email:<span class="email"></span></p>
       
        <p>Имя: <span class="name"></span></p>
        

        <p>Фамилия: <span class="fam"></span></p>
        
    
        <p>Отчество: <span class="otch"></span></p>
    

        <p>Пароль: <span class="pass"></span></p>
       
      
    </div>
    <div class="change_info">
        <h1>Новые данные</h1>
        <label for="">
            <p>Фото</p>
            <input type="file" name="" id="">
        </label>
        <label for="">
            <p>Имя</p>
            <input type="text" value="name" id="name_changeProfile">
        </label>
        <label for="">
            <p>Фамилия</p>
            <input type="text" value="fami" id="fam_changeProfile">
        </label>
        <label for="">
            <p>Отчество</p>
            <input type="text" value="otch" id="otch_changeProfile">
        </label>
        <label for="">
            <p>Email</p>
            <input type="email" value="email" id="email_changeProfile">
        </label>
        <label for="">
            <p>Пароль</p>
            <input type="text" value="pass" id="pass_changeProfile">
        </label>
        <div class="message_block"></div>
        <button class="btn btn_change_data">Изменить</button>
    </div>
    
   

</div>