
.brightness{
    filter: brightness(0.7);
}
/*
.section{
    filter: brightness(0.4);
}
*/

.hidden{
    display: none;
}
/*//////////////AUTH*/
.content_auth_and_reg{
    background-color: #1F1F1F;
    color: #fff;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.block_auth_and_reg{
    border-top-left-radius: 2dvh;
   /* border-top-right-radius: 2dvh;*/
    display: grid;
    grid-template-rows: 30px 380px 80px;
   
    background-color: rgb(60, 148, 207);
     background-color: #3ACC91;
    & input{
        width: 320px;
        height: 30px;
    }
    & h1{
        text-align: center;
    }
     & p{
        padding-top: 15px;
        
    }
}

/*кнопка регистрации*/
.form_reg{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 30px;
    display: none;
}
.block_reg_btn{
  
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: none;
}
.btn_reg{
    border: none;
    padding: 10px 15px;
    font-weight: 600;
    color: #fff;
    background-color: #3ACC91;
    border-radius: 1dvh;
}
.btn_reg:hover{

    background-color:  #4ae1a5;;
    border-radius: 1dvh;
}

/*кнопка авторизации*/
.form_auth{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 30px;

}
.block_auth_btn{
  
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;


}
.btn_auth{
    border: none;
    padding: 10px 15px;
    font-weight: 600;
    color: #fff;
    background-color:  rgb(60, 148, 207);
    border-radius: 1dvh;
}
.btn_auth:hover{

    background-color:  rgb(63, 163, 230);
    border-radius: 1dvh;
}
.buttons_auth_and_reg button{
    cursor: pointer;
}



.message_error{
    height: 50px;
    padding: 20px;
}
.buttons_auth_and_reg{
    display: flex;

    & button{
  
        font-weight: 700;
        width: 100%;
        border: none;
        background-color: #3ACC91;
        color: #fff;
        
    }
    & .tumb_auth{
        border-top-left-radius: 2dvh;
    }
    & .tumb_reg{
       /* border-top-right-radius: 2dvh;*/
        background-color: rgb(60, 148, 207);

    }
 
}



/*/////////////Профиль собеседника*/
.block_companion_profile{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 100;
    color: #fff;
   
}
.page_profile{
   
     padding: 20px 40px;
     background-color: rgb(60, 148, 207);
    & img{
        height: 250px;
        width: 250px;
        object-fit: cover;

    }
    & p{
        padding: 10px;
    }
}





.userProfile{
    position: absolute;
    display: flex;
    align-items: flex-start;
    gap: 15%;
    width: auto;
    z-index: 10;
    left: 20%;
   
   
}
.info_userProfile{
    background-color: #3ACC91;
    min-width: 250px;
    
}

.block_changeProfile{
    margin-top: -6%;
    background-color: rgb(60, 148, 207);
    z-index: 100;
    padding: 10px 40px;

    text-align: left;
    & h1{
        text-align: center;
    }
    & p{
        margin-top: 20px;
        padding-bottom: 3px;
    }
}
.text_changeProfile{
    padding: 20px;
}
.btn_block{
    padding-bottom: 5px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    & button{
        padding: 10px 15px;
        background-color: #3ACC91;
        color: #fff;
        border:none;
    }
    & .btn_delete{
        color: #fff;
        background-color: #cc503a;
    }
    & button:hover{
        background-color: rgba(17, 250, 29, 0.336);
    }
}   

.text_userProfile{
    padding: 20px ;
    text-align: left;
    & p{
        padding: 10px ;
    }
}
.buttons_userProfile{
    display: flex;
    & button{
        border: none;
        color: #fff;
        background-color: rgb(60, 148, 207);
        padding: 5px;
        width: 100%;
        transition: .2s linear;
    }
    & .btn_logout{
        color:#fff;
        font-weight: 600;
        background-color: #cc503a;
    }
    & .btn_logout:hover{
        color: #cc503a;
        font-weight: 600;
        background-color: #fff
    }
    & .btn_toChangeProfile:hover{
        color: rgb(60, 148, 207);
        font-weight: 600;
        background-color: #fff;
    }
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{

    background-color: rgb(4, 72, 110);
    background-color: rgb(60, 133, 182);
    background-color: rgb(45, 64, 75);
}
header{
    display: grid;
    grid-template-columns: 1fr 5fr;
    height: 15vh;
    align-items: center;
       
}
.section{
    height: 85vh;
    display: grid;
    grid-template-columns: 4fr 6fr;

}
/*//////////////////////////ШАПКА*/
.block_profile{
    text-align: center;
    position: relative;
    color: #fff;
    & img{
        height: 90px;
        width: 90px;
        object-fit: cover;
        border-radius: 50%;
    }
}





/*/////////////////////////СОЗДАТЬ ЧАТ*/
.block_createChat{
    margin: auto 20px;
}

.margin_block_createChat{
    padding: 3vh;
    display: flex;
    align-items: center;
    gap: 30px;
    background-color: rgb(60, 148, 207);;
    color: #fff;
    & p{
        padding-bottom: 10px;
        font-weight: 600;
    }
}
.form_createChat{
    display: flex;
    gap: 5px;
    align-items: center;
    & input{
        height: 24px;
        border: none;
    }
}
.btn_create_chat{
    border: none;
    background-color: rgba(17, 250, 106, 0.589);
    font-weight: 700;
    color: #fff;
    padding: 5px;
    height: 24px;
    transition: .2s linear;
}
.btn_create_chat:hover{
    background-color: rgba(17, 250, 29, 0.336);
}




/*///////////////////////БЛОК ЧАТОВ*/
.block_chats{
    height: 85vh;
    padding: 20px;
    padding-bottom: 14px;
}
.list_chats{
    height: 95%;
    overflow-y: auto;
    margin: 20px;
    color: #fff;
    background-color: rgb(12, 116, 201);
    background-color: rgb(60, 133, 182);;
}
.chat{
    height: 50px;
    border-bottom: 1px solid #ffffff60; 
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    align-items: center;
    transition: .2s linear;
}
.chat:hover{
    background-color:  rgb(60, 133, 182);
    filter: brightness(0.9) ;
}
.chat_active{
    background-color:  rgba(17, 250, 106, 0.589);
    box-shadow: 0px 1px 1px #fff ;
    border: 2px solid;
}
.point{
    margin-right: 17px;
    background-color: #fff;
    border-radius: 50%;
    width: 8px;
    height: 8px;   
    display: none;
}
.change{
    background-color: #fff;
    width: 15px;
    height: 15px;
}

.chat_newMessage{
    background-color:  rgb(60, 133, 182);
    filter: brightness(0.8) ;
    & .point{
        display: block;
    }
}


/*////////////////////////////////////////СООБЩЕНИЯ*/
.block_messages{
    height: 85vh;
    padding: 20px;
    margin: auto 0;
}
.margin_block_messages{
    background-color: rgb(60, 133, 182);
    height: 100%;
    display: grid;
    grid-template-rows: 17fr 1fr;

}
.content_messages{
    color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    gap: 15px;
}
.my_message{
    background-color: rgba(17, 250, 106, 0.589);
    padding: 15px;
    max-width: 40%;
    display: flex;
    height: auto;
    text-wrap: wrap;
    border-radius: 1dvh;
    align-self: flex-end;


}
.message_p{
    width: 40%;
    display: flex;
    text-wrap: wrap;
    height: auto;
}
.chat p{
    max-width: 40%;
}
.companion_message{
    background-color: rgba(17, 196, 250, 0.589);
    padding: 15px;
    max-width: 40%;
     height: auto;
    text-wrap: wrap;

    align-self: flex-start;
    border-radius: 1dvh;
}

.send_message{
    display: flex;
    & input{
        height: 100%;
        width: 90%;
        border: none;
    }
    & button{
        width: 10%;
        border: none;
        background-color: rgb(17, 250, 106);
        background-color: rgba(17, 250, 106, 0.76);
        color: #fff;
        
    }
    & button:hover{
        background-color: rgba(17, 250, 29, 0.555);
    }
}


.change_chatName{
    display: flex;
    gap: 5px;
    height: 30px;
    & button{
        border: none;
        background-color: rgb(17, 250, 106);
    }
     & button:hover{
        border: none;
        color: #fff;
        padding: 10px;

        background-color: rgba(17, 250, 106, 0.76);
    }
    
}

.hidden{
    display: none;
}